:root{
    --color-light_yellow: rgb(250,220,134);
    --color-medium_yellow: rgb(232,178,30);
    font-family: 'Noto Sans', sans-serif;
}
/* Fonts
    font-family: 'IBM Plex Serif', serif;
    font-family: 'Noto Sans', sans-serif;
    font-family: 'Noto Serif KR', serif; */

body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    margin: 0px;
}
h1,h2,h3{
    font-family: 'Noto Serif KR', serif;    
}
h1{
    font-size: 70px;
}
h2{
    font-size: 30px;
}
h3{
    font-size: 20px;
}
body p{    
    font-size: 18px;
}
/* Seccion Header 
Esta seccion se mantendrá arriba aun haciendo scroll, para facilitar la navegacion via links a las secciones*/
header{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 30px;
    position: fixed;
    top: 0;
    z-index: 1000;
    background-color: var(--color-light_yellow);
}
header > nav{
    display: flex;
    gap: 20px;    
}
/* Quitar subrayado y cambio de color al usarse */
header > nav a{
    text-decoration: none;
    color: inherit;
}
/* Seccion Home
La portada del portfolio */
.b-home{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%; 
    height: 712px;   
    background-color: var(--color-medium_yellow);
    margin: 0px;
    padding: 0px;
}
.b-grid5050{
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: 1fr 1fr;
    margin: 0;
}
.b-grid5050__img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.b-Title{
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    padding: 150px;
    width: 100%;
}
.b-linea_titulo{
    border: 2px solid black;
    width: 60%;
    margin: 10px 0;
}
/* Seccion se contiene las secciones Sobre mi y Competencias*/
.b-info{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%; 
    height: 738px;   
    /* background-color: red; */
}
/* Subseccion Sobre mi. Contiene una breve descripcion*/
.b-sobre_mi{
    display: flex;
    justify-content:flex-start;
    align-items: center;
    flex-direction: column;
    margin-top: 100px;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 100px;
    padding: 50px;
    background-color: var(--color-light_yellow);
}
/* Subseccion Competencias. Incluye un conjunto de iconos que refieren a programas o lenguajes de programacion */
.b-competencias{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    margin-top: 100px;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 100px;
    padding: 50px;
    border: 5px solid var(--color-medium_yellow);
}
.b-programas_iconos{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 70%;
    margin-top: 80px;
    gap: 25px;
}
.b-programas_iconos img{
    height: 60px;
}
/* Seccion servicios */
.b-servicios{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 630px;   
    padding-top: 115px;    
    /* background-color: aqua; */
    margin: 0;
}
.b-oferta{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;;    
    padding-top: 50px;
    margin-left: 50px;
    margin-right: 50px;
    gap: 50px;
}
.b-oferta > div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--color-medium_yellow);
    padding: 50px;
    text-align: center;
}

.b-galeria{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 550px;
    padding-top: 75px;
    /* background-color: rgb(132, 163, 163); */
    margin: 0;
}
.b-galeria > div{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin-top: 35px;
    padding: 0px;
    /* background-color: var(--color-medium_yellow); */
    /*gap: 50px;*/
}
.b-galeria > div > div > a{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 350px;
    height: 400px;
}

/*.b-galeria > div > a > img{*/
.b-pruebaimg{
    width: 50%;
    height: 50%;
    object-fit: cover;
}
.b-galeriaSub{
    display: flex;
    align-content: center;
    flex-direction: row;
    height: 40px;
}
.b-galeriaSub > div{
    display: flex;
    align-content: center;
    flex-direction: row;
    height: 40px;
    width: 40px;
}
.b-galeriaSub > div > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Seccion Contacto 
En esta seccion he intentado "forzar" el BEM para usarlo hasta los modificadores */
.b-contacto{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    width: 100%; 
    height: 665px;   
    /* background-color: var(--color-medium_yellow); */
    margin: 0px;
    padding-top: 310px;
}
.b-contacto_secciones{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    margin: 0;
    margin-top: 50px;
}
.b-contacto_secciones__img{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.b-contacto_secciones__img--width{
    width: 550px;
}
.b-formulario{    
    padding: 25px;
    width: 85%;
    background-color: var(--color-light_yellow);
}
.b-fieldset1{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    padding: 30px;
    gap: 10px;
    border: none;
}
.b-fieldset1 > input{
    width: 500px;
    height: 20px;
    border: none;
}
.b-servicio_boton{
    border: none;
    background-color: white;
    height: 22px;
}
.b-enviar{
    display: flex;
    justify-content: end;
    width: 100%;
}
.b-enviar__boton{
    width: 85px;
    height: 35px;
    border: none;
    background-color: var(--color-medium_yellow);
}
/* Footer con daños de contacto y enlaces a github y linkedin */
footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 60px;
    background-color: var(--color-medium_yellow);
}
.b-footer_div1{
    display: flex;
    margin-left: 50px;
    gap: 30px;
}
.b-footer_div2{
    display: flex;
    justify-content: end;
    margin-right: 70px;
    gap: 30px;
}
.b-footer_div2 a{
    display: flex;
    align-items: center;
}
.b-footer__img{
    width: 45px;
    height: 45px;
}
