<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./css/Style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:wght@300&family=Noto+Sans:wght@300;400;500&family=Noto+Serif+KR:wght@400;500;600;700&display=swap" rel="stylesheet">
</head>
<body>
    <!-- Header con vinculos de navegacion a los distintos apartados. Se desplazará conforme se haga Scroll -->
    <header>
        <nav>
            <a href="#Home">Home</a>
            <!-- Se llaman igual porque estan en el mismo bloque y el bloque no puede tener dos id´s -->
            <a href="#Informacion personal">Sobre mi</a>
            <a href="#Informacion personal">Competencias</a>
            <a href="#Servicios">Servicios</a>
            <a href="#Galeria">Galeria</a>
            <a href="#Contacto">Contacto</a>
        </nav>
    </header>
    <!-- Home. Seccion de portada con informacion basica. Nombre y ocupacion -->
    <div class="b-home" id="Home">
        <div class="b-grid5050">
            <div class="b-Title">
                <h1>
                    <span th:text="${usuario.getNombre()}"></span><br>
                    <span th:text="${usuario.getApellidos()}"></span>
                </h1>
                <hr class="b-linea_titulo">
                <h3 th:text="${usuario.getOcupacion()}"></h3>
            </div>
            <div>
                <img class="b-grid5050__img" th:src="@{${usuario.getUrlImagen()}}" alt="Imagen de un portatil con una aplicacion abierta y codigo css escrito">
<!--                <img class="b-grid5050__img" th:src="@{${usuario.urlImagen}}" alt="Imagen de un portatil con una aplicacion abierta y codigo css escrito">-->
            </div>
        </div>
    </div>
    <!-- Seccion info (no vinculada) contiene las "subsecciones":
    Sobre mi. con una breve descripcion.
    Competencias, con iconos minimalistas de los distintos programas que manejo -->
    <div class="b-info" id="Informacion personal">
        <!-- Sobre mi -->
        <div class="b-sobre_mi" >
            <h2>Sobre mí</h2>
            <p th:text="${usuario.getSobremi()}">
            </p>
        </div>

        <!-- Competencias -->
        <div class="b-competencias" >
            <h2>Competencias</h2>
            <div class="b-programas_iconos">
                <img  th:each="competencia : ${competenciasLista}" th:src="${competencia.getUrlImagen()}" th:alt="${competencia.getNombreCompetencia()}">
            </div>
        </div>
    </div>
    <!-- Servicios -->
    <div class="b-servicios" id="Servicios">
        <h2>Servicios</h2>
        <div class="b-oferta">
            <div th:each="servicio : ${serviciosLista}">
                <div>
                    <h3 th:text="${servicio.nombreServicio}"></h3>
                    <p th:text="${servicio.descripcionServicio}"></p>
                </div>
            </div>
        </div>
    </div>
    <!-- Galeria -->
    <div class="b-galeria" id="Galeria">
        <h2>Galeria</h2>
        <div>
            <div th:each="imagen : ${galeriaLista}">
                <!-- Sección para la imagen de la galería -->
                <a th:href="${imagen.urlRepositorio}">
                    <img class="b-pruebaimg" th:src="${imagen.urlImagen}">
                    <!-- Sección para las competencias asociadas -->
                    <div class="b-galeriaSub">
                        <!--                    <h3>Competencias asociadas:</h3>-->
                        <div th:each="competencia : ${imagen.competencias}">
                            <img th:src="${competencia.urlImagen}" th:alt="${competencia.nombreCompetencia}">
                            <!--                        <span th:text="${competencia.nombreCompetencia}"></span>-->
                        </div>
                    </div>
                </a>
            </div>
        </div>

    </div>

    <!-- Contacto -->
    <div class="b-contacto" id="Contacto">
        <h2>Contacto</h2>
        <div class="b-contacto_secciones">
            <div class="b-contacto_secciones__img">
                <img class="b-contacto_secciones__img--width" th:src="@{${usuario.getContacto_img()}}" alt="Imagen de un ordenador con aplicaciones y documentos alrededor">
            </div>
            <!-- El formulario no tiene action ni method porque no tendrían funcionalidad real -->
            <form class="b-formulario" action="/" method="post">
                <fieldset class="b-fieldset1">
                    <!-- Nombre es un campo obligatorio -->
                    <label for="name">Nombre</label>
                    <input type="text" name="name" id="name" required>

                    <!-- Correo electrónico es un campo obligatorio -->
                    <label for="email">Correo Electrónico</label>
                    <input type="email" id="email" name="email" required>

                    <!-- Teléfono no es obligatorio, contiene una limitación de caracteres y de rango -->
                    <label for="telefono">Teléfono</label>
                    <input type="tel" id="telefono" name="telefono" pattern="[0-9]{9,14}">

                    <!-- Un desplegable para indicar qué servicio es el que se quiere solicitar en el contacto -->
                    <label for="servicio">Servicio</label>
                    <select class="b-servicio_boton" id="servicio" name="servicio" required>
                        <option value="" disabled selected>Selecciona un servicio</option>
                        <option value="Desarrollo de aplicaciones">Desarrollo de aplicaciones</option>
                        <option value="Diseño de páginas web">Diseño de páginas web</option>
                        <option value="Consultoría">Consultoría</option>
                    </select>

                    <!-- Posibilidad de indicar si se quiere solicitar una cita, según el medio elegido -->
                    <div>
                        <label>Solicitar cita</label>
                        <input type="radio" id="sinCita" name="preferencia" value="Sin Cita" checked>
                        <label for="sinCita">Sin Cita</label>

                        <input type="radio" id="telefonoCita" name="preferencia" value="Teléfono">
                        <label for="telefonoCita">Teléfono</label>

                        <input type="radio" id="zoom" name="preferencia" value="Zoom">
                        <label for="zoom">Zoom</label>
                    </div>

                    <div class="b-enviar">
                        <input class="b-enviar__boton" type="submit" value="Enviar">
                    </div>
                </fieldset>
            </form>
        </div>
    </div>


    <!-- * Footer con datos de contacto y enlaces a github y linkedin * -->
    <footer>
        <div class="b-footer_div1">
            <p>Correo: <span th:text="${usuario.getCorreo()}"></span></p>
            <p>telefonoeo: <span th:text="${usuario.getTelefono()}"></span></p>
        </div>
        <div class="b-footer_div2">
<!--            <a href="https://github.com/CESARJD">-->
<!--                <img class="b-footer__img" src="../Imagenes/icons8-github-250.png" alt=""></a>-->
<!--            <a href="https://www.linkedin.com/in/cesar-jimenez-diez/">-->
<!--                <img class="b-footer__img" src="../Imagenes/icons8-linkedin-250.png" alt=""></a>-->
        </div>
    </footer>
    
</body>
</html>